# PostgreSQL Database URL
DATABASE_URL="postgresql://username:password@hostname:5432/database?schema=public"

# Express Port Number
PORT=5000

# Mode
NODE_ENV=production

# JWT Authentication Secrets
JWT_SECRET="generate_64_character_hex_secret_key"
REFRESH_SECRET="generate_64_character_hex_refresh_key"

# Allowed CORS Origins (comma-separated for multiple URLs)
CORS_ORIGIN="http://localhost:5173"
